<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="monoandroid90" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="monoandroid90" />
  <package id="Plugin.Share" version="7.1.1" targetFramework="monoandroid90" />
  <package id="ServiceStack.Client" version="4.0.56" targetFramework="monoandroid90" />
  <package id="ServiceStack.Interfaces" version="4.0.56" targetFramework="monoandroid90" />
  <package id="ServiceStack.Text" version="4.0.56" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Annotations" version="25.4.0.2" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Compat" version="25.4.0.2" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.4.0.2" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.4.0.2" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.CustomTabs" version="25.4.0.2" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Fragment" version="25.4.0.2" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.4.0.2" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.v4" version="25.4.0.2" targetFramework="monoandroid90" />
  <package id="Xamarin.Build.Download" version="0.4.2" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Ads" version="42.1021.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Ads.Lite" version="42.1021.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Base" version="42.1021.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Basement" version="42.1021.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Clearcut" version="42.1021.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Gass" version="42.1021.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="42.1021.1" targetFramework="monoandroid90" />
</packages>